{% extends 'base.html.twig' %}

{% block title %}Liste des Teams{% endblock %}

{% block body %}
<h3>Les teams :</h3>

{% for team in teams %}
<ul>
<li>{# <a href="{{ path('character_show', {'id': character.id }) }}">#} {{team.description}} </a></li>
</ul>
{% endfor %}

{% endblock %} {# body #}