{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block main %}
    <h1>Create new Team</h1>

    {{ include('team/_form.html.twig') }}

    <a href="{{ path('app_team_index') }}">Back to list</a>
{% endblock %}
