{% extends 'base.html.twig' %}

{% block title %}New Membre{% endblock %}

{% block main %}
    <h1>Create new Membre</h1>

    {{ include('membre/_form.html.twig') }}

    <a href="{{ path('app_membre_index') }}">Back to list</a>
{% endblock %}
