{% extends 'base.html.twig' %}

{% block title %}Liste des Albums{% endblock %}

{% block body %}
<h3>Check moi ça frérot :</h3>

{% for album in albums %}
<ul>
<li><a href="{{ path('album_show', {'id': album.id }) }}"> {{album.title}} </a></li>
</ul>
{% endfor %}

{% endblock %} {# body #}