{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block main %}
    <h1>Create new Album</h1>

    {{ include('album/_form.html.twig') }}

    <a href="{{ path('app_membre_show', {'id':album.membre.id}) }}">Back to list</a>
{% endblock %}
